.custom-file-input {
  visibility: hidden;
}

.main-display-image {
  // border: 1px solid #e3e3e3;
}

ul.labels {
  display: grid;
  grid-template-columns: 0.44fr 0.7fr 1fr;
  text-align: left;
  line-height: 1;
  width: 27rem;
  padding-left: 1rem;
}

.thumbnail-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20rem;
  & > div {
    // display: grid;
    .drag-n-drop-img {
      height: 250px;
      width: 250px;
    }
  }
}

.main-display-image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 361px;
  & > div {
    display: grid;
    .drag-n-drop-img {
      display: block;
      max-width: 445px;
      max-height: 600px;
      width: auto;
      height: auto;
    }
  }
}

.single-drop {
  padding: 1rem;
}

.banner-image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 156px;
  & > div {
    display: grid;
    grid-template-rows: 1fr;
    .drag-n-drop-img {
      display: block;
      max-width: 445px;
      max-height: 156px;
      width: auto;
      height: auto;
    }
  }
}