.slick-wrapper {
  box-sizing: border-box;
  height: 6rem;
  // width: 18rem;
  .slick-prev {
    left: 1px;
    z-index: 9;
  }

  .slick-next {
    right: 1px;
    z-index: 9;
  }

  .slick-prev:before, .slick-next:before {
    color: #e3e3e3;
  }
  .slick-list {
    .slick-slide {
      width: 5rem;
    }
    .slick-slide img {
      max-height: 5rem;
      height: auto;
      margin: 0 auto;
      width: auto;
      border: 1px solid #e3e3e3;
    }
  }
}
.react-fancybox {
}