
$darkblue: #2c3e4c;
$orange: #fc8300;
$grayBlue: #8496A4;
$search: #EDF1F5;


//
.table-image-profile {
  height: 4rem;
  width: 4rem;
  img {
    width: 100%;
    height: 100%;
  }
}


// new product tab

.product-tab-wrapper {
  margin-top: 10px;
  span {
    color: #878787;
  }
  @media screen and (min-width: 768px) {
    float: right;
    & > button {
      width: auto;
    }
  }
  @media screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    & > .app-btn:not(:last-child) {
      margin-right: initial;
    }
  }
  & > button {
    height: 3rem;
    line-height: 2;
  }
  .app-btn-active {
    background-color: $orange;
    span {
      color: #fff;
    }
  }
  .app-btn-not-active {
    background-color: #fff;
    a {
      color: #878787;
      display:inline-block;
      width:100%;
      height:100%;
    }
    &:hover {
      a {
        color: #fff;
      }
      span {
        color: #fff;
      }
      background-color: $orange;
    }
  }
}

.btn-danger {
 background-color: $grayBlue !important;
 border-color: $grayBlue !important;
}

.btn.focus, .btn:focus, .btn:hover {
  color: #fff;
  text-decoration: none;
}

.btn-search {
  background-color: $search !important;
  border-color: $search !important;
}

.brand-img {
  height: 1.5rem;
}

.left-sidebar-wrapper  {
  a {
    cursor: pointer;
  }
}

.wrapper.theme-1-active.pimary-color-green .fixed-sidebar-left .side-nav > li > a.active, .wrapper.theme-2-active.pimary-color-green .fixed-sidebar-left .side-nav > li > a.active, .wrapper.theme-3-active.pimary-color-green .fixed-sidebar-left .side-nav > li > a.active, .wrapper.theme-4-active.pimary-color-green .fixed-sidebar-left .side-nav > li > a.active, .wrapper.theme-5-active.pimary-color-green .fixed-sidebar-left .side-nav > li > a.active, .wrapper.theme-6-active.pimary-color-green .fixed-sidebar-left .side-nav > li > a.active {
  color: $orange;
}

.page-wrapper {
  min-height: 763px;
}

.card-view {
  background: #fff;
  margin-bottom: 20px;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  padding: 15px 15px 0;
  margin-left: -5px;
  margin-right: -5px;
}

.product-search {
  margin-top: 3.3rem;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
  border-radius: 0;
}

.app-product-action-btns {
  position: absolute;
  right: 0;
  width: 15.5rem;
}
.app-product-special-action-btns {
  position: absolute;
  right: 2%;
  top: 18%;
}

.app-product-special-action-btns button:not(:last-child) {
  margin-right: 10px;
}

.app-product-action-btns button {
  margin-right: 10px;
}

.app-product-table {
  margin-top: 5rem;
}

.app-search {
  position: absolute;
  top: 21%;
}

.app-search-dropdown {
  border: 1px solid rgba(33, 33, 33, 0.12);
  border-radius: 0;
  background-color: #fff;
  box-shadow: none;
  color: #212121;
  height: 42px;
  &:focus {
    border: 1px solid rgba(33, 33, 33, 0.12);
    border-radius: 0;
  }
}

.list-bg-photo-wrapper {
  height: 7rem;
    width: 18rem;
  img {
    height: 100%;
    width: 100%;
  }
}

.bg-photo-top {
  height: 8.2rem;
  // width: 16rem;
  margin-bottom: 0.5rem;
  img {
    height: 100%;
    width: 100%;
  }
}
.app-search input {
  margin-left: 0.3rem;
  width: 24rem;
}

.special-deal-search {
  margin-top: 5.4rem;
}

@media screen and (max-width: 425px) {

  .app-product-special-action-btns {
    width: 23.5rem;
  }
  .app-product-special-action-btns button{
    margin-bottom: 1rem;
  }
  .app-product-table {
    margin-top: 16rem;
  }
  .app-search {
    top: 41%;
  }
  .app-search input {
    width: 12rem;
  }
}

.btn.btn-primary, .wizard > .actions .disabled a, .wizard > .actions .disabled a:hover, .wizard > .actions .disabled a:active, .wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active, .dt-buttons .dt-button, .tablesaw-sortable th.tablesaw-sortable-head button.btn-primary, .tablesaw-sortable th.tablesaw-sortable-head .dt-buttons button.dt-button, .dt-buttons .tablesaw-sortable th.tablesaw-sortable-head button.dt-button, .sweet-alert button.btn-primary, .owl-theme .owl-nav .btn-primary[class*="owl-"], .owl-theme .owl-nav .wizard > .actions a[class*="owl-"], .wizard > .actions .owl-theme .owl-nav a[class*="owl-"], .owl-theme .owl-nav .dt-buttons [class*="owl-"].dt-button, .dt-buttons .owl-theme .owl-nav [class*="owl-"].dt-button, button.btn-primary.fc-agendaDay-button.fc-state-default.fc-corner-right, .dt-buttons button.fc-agendaDay-button.fc-state-default.fc-corner-right.dt-button, button.btn-primary.fc-month-button.fc-state-default.fc-corner-left, .dt-buttons button.fc-month-button.fc-state-default.fc-corner-left.dt-button, button.btn-primary.fc-agendaWeek-button, .btn-primary.fc-prev-button, .btn-primary.fc-next-button, .btn-primary.fc-today-button {
  background: $orange !important;
  border: solid 1px $orange !important;
}

// #app-table-header-btns button {
//   margin-right: 10px;
//   margin-bottom: 20px;
//   color: #FFF !important;
// }

#app-table-header-btns .btn-default {
  background: #8496a4 !important;
  border: solid 1px #8496a4 !important;
}
.btn-darkblue {
  background: $darkblue  !important;
  border: solid 1px $darkblue  !important;
}
.table-export-button {
  margin-top: 2.68rem;
}
#app-table-header-btns .btn-warning {
  background: #fcb800   !important;
  border: solid 1px #fcb800   !important;
}
.free-width {
  width: initial !important;
}

.app-module-title {
  padding: 0.5rem 0;
}
.app-btn {
  &:not(:last-child) {
    margin-right: 10px;
  }
  border-radius: initial !important;
  color: #fff;
  @media screen and (min-width: 768px) {
    height: 42px;
    width: 7rem;
  }
  @media screen and (max-width: 768px) {
    margin-right: 0;
  }
}
.app-btn-default {
  background: #4e9de6 !important;
  border: solid 1px #4e9de6 !important;
  border-radius: initial !important;
}
.app-btn-cancel {
  background: #8496a4 !important;
  border: solid 1px #8496a4 !important;
  border-radius: initial !important;
}
.tab-content-item {
  width: 100%;
}
.app-btn-gray {
  background: #8496A4;
  border: solid 1px #8496A4;
  color: #fff;
}
.switch-label {
  padding-top: 5px;
}
.switch-class .switchery {
  margin-right: 0px;
  margin-top: 0px;
}
hr {
  margin-bottom: 20px !important;
  border-top: 1px solid #e3e3e3 !important;
}

.languages {
  float: right;
}

.language-btn {
  padding: 13px;

}
.language-btn-active {
  border-bottom: 2px solid $orange;
}
.custom-tab-1.vertical-tab .ver-nav-tab > li.active > a {
  border-bottom: none;
  border-right: 3px solid $orange;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:active, .dataTables_wrapper .dataTables_paginate .paginate_button:focus {
  background: $orange;
  border-color: $orange;
  color: #fff !important;
  box-shadow: none;
}

table {
  td {
    cursor: pointer;
  }
}

.slide-show {
  img {
    display: inline;
    padding-left: 0.2rem;
    width: 4rem;
  }
}

.main-display-image {
  img {
    height: 100%;
    width: 100%;
  }
}

.youtube-link {
  position: absolute !important;
  top: 15px !important;
}

.youtube-link-input {
  margin-left: 0.3rem;
}

.banner-image {
  img {
    height: 100%;
    width: 100%;
  }
}

.switch-class {
  float: left;
}

.product-profile {
  height: 3rem;
}

.product-price-selector {
  position: relative;
}


.accordion-wrapper {
   & > .row {
     margin-bottom: 1rem;
   }
   .panel-heading {
      background: none !important;
      color: #878787 !important;
   }
}
.accordion-struct.panel-group .panel .panel-heading.activestate a {
  color: #878787 !important;
}
.app-btn-danger {
  background: #c0392b !important;
  border: solid 1px #c0392b !important;
  border-radius: initial !important;
}
.app-input-group {
  // display: inline-flex !important;
  border-radius: 0;
}
.offered-cost {
  display: inline-table;
}

.add-btn {
  // position: absolute;
  // right: 13px;
  line-height: 3;
}
.dt-body-center {
  text-align: center;
}
.col-title {
  @media screen and (min-width: 768px) {
    width: 9.6rem;
  }
}


.nav-pills > li > a:active, .nav-pills > li > a:focus, .nav-pills > li > a:hover {
  background: $orange;
  color: #fff;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background: $orange;
  color: #fff;
}
.nav-pills > li > a {
  background: #fff;
  &:active {
    transform: scale(1.01);
  }
}

.app-product-nav {

  .nav-pills > li.active > a, .nav-pills > li.open > a {
    color: #878787 !important;
  }

    display: flex;
    flex-wrap: wrap;

    & > li {
      text-align: center;
      @media (max-width: 565px) {
        width: 190px;
        margin-left: 2px !important;
      }
      @media (max-width: 375px) {
        width: 132px;
        margin-left: 2px !important;
      }
    }
  }


  .product-nav-head {
    margin-top: 1rem;
    h6 {
      line-height: 3;
    }
  }
  #product-tab {
    textarea {
      width: 100%;
    }
  }

  label.line-height-3 {
    line-height: 3;
  }

  // card
  .card-view {
    .panel-heading {
      padding-bottom: 0 !important;
      position: relative;
    }
  }

  .panel-subtitle {
    margin-bottom: 1rem;
    @media screen and (min-width: 768px) {
      // position: absolute;
      // left: 0;
      // margin-left: 1rem;
    }
  }

  .card-row-reverse {
    @media screen and (max-width: 425px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .search-wrapper {
    // margin-top: 3rem;
  }

  .featured-action-btns {
    @media screen and (min-width: 768px) {
      text-align: right;
    }
    @media screen and (max-width: 425px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.3rem;
    }
  }

  .product-action-btns {

    button {
      border-radius: initial;
    }
    @media screen and (min-width: 1024px) {
      text-align: right;
    }
    @media screen and (max-width: 425px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 0.1rem;
    }

    @media screen and (max-width: 375px) {
      button {
        height: 3rem;
        margin: 0;
        padding: 0;
      }
    }
  }
  .product-table-actions {

    @media screen and (min-width: 425px) {
      button {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: initial;
      }
    }
    @media screen and (max-width: 425px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 0.1rem;
      width: 100%;
      button {
        border-radius: initial;
        height: 3rem;
        margin: 0;
        padding: 0;
      }
    }
  }

  // Featured product

  .product-label {
    text-align: initial;
    @media screen and (min-width: 768px) {
      text-align: right;
      line-height: 3;
    }

  }
  .featured-product-wrapper {

    & > label {
      line-height: 3;
    }
  }

  #hover-copy {
    position: relative;
    z-index: 999999;
    left: 1rem;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    &:hover {
      color: $orange;
    }
    &:active {
      transform: scale(1.2);
    }
  }

  .thumbnail-wrapper {
    height: 17rem;
    width: 17rem;
    & > img {
      height: 100%;
      width: 100%;
    }
  }

  // Owl
  .owl-nav {
    span {
      color: #fff;
      background-color: #f7f3f45e;
    }
    .owl-prev {
      position: absolute;
      left: 0;
      top: 30%;
      color: #fff !important;

    }
    .owl-next {
      position: absolute;
      right: 0;
      top: 30%;
    }

  }


  // custom dropdown search
.datatable-dropdown {
  user-select: none;
  padding: 1rem;
  label {
    padding-left: 0.5rem;
  }
}

input.details-control {
  cursor: pointer;
}

td.details-control {
  position: relative;
  &:before {
    top: 16px;
    left: 4px;
    height: 14px;
    width: 14px;
    display: block;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    // box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    line-height: 14px;
    content: '+';
    background-color: $orange;
  }
  cursor: pointer;
}
tr.shown td.details-control {
  &:before {
    top: 16px;
    left: 4px;
    height: 14px;
    width: 14px;
    display: block;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    // box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    line-height: 14px;
    content: '-';
    background-color: $darkblue;
  }
}

.kt-group-checkable {
  // transform: translateX(-112%);
  //   position: relative;
}
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
  top: 50%;
  left: -4px;
  transform: translateY(-50%);
}
td.details-control {
  @media screen and (min-width: 768px ){
    &:before {
      display:none;
    }
  }
}

.custom-dtr-details {
  border-bottom: 2px solid #efefef;
  width: 70%;
}

ul.dtr-details li {
  border-bottom: 1px solid #efefef;
  padding: 0.5em 0;
}

span.dtr-title {
  display: inline-block;
  min-width: 100px;
  font-weight: bold;
}

.expand-table {
  color: $orange;
  font-weight: bold;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
    background-color: $orange;
    box-shadow: none;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child::before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child::before {
  background-color: $darkblue;
  box-shadow: none;
}

.language-select {
  position: relative;
  width: 7.5rem;
  .form-control {
    position: relative;
    top: 0.7rem;
    border: none;
    background: none;
  }
}

.navbar.navbar-inverse.navbar-fixed-top .nav.top-nav > li > a .top-nav-icon-badge {
  background: $orange;
}

.navbar.navbar-inverse.navbar-fixed-top .nav > li > a .user-online-status {
  background: $orange;
}

.logout-btn {
  position: absolute;
  cursor: pointer;
}